.contactSection {
  width: 90%;
  margin: auto;
  display: flex;
  padding: 150px 0;
  justify-content: center;
  align-items: center;
  .partyOn {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #5ab963;
  }
}
