.featuresRoot {
  padding: 120px 30px;
  display: flex;
  flex-direction: column;
  gap: 90px;
  width: 85%;
  margin: auto;
  .featuresHeader {
    width: 95%;
  }

  .featuresContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
}
