.blogPostRoot {
  .postRoot {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-bottom: 90px;
  }
  .postHero {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: -100px;
    padding: 150px 0px;
    background-color: #5ab963;
  }
  .postContainer {
    width: 55%;
  }
  .postTitle {
    font-size: 72px;
    line-height: 78px;
    color: #000000;
    font-weight: 800;
    text-align: center;
  }
  .postDate {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: 600;
  }
  .contentText {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    font-family: "IBM Plex Mono", monospace;
    & img {
      width: 100%;
    }
  }
  .postImage {
    margin-top: -150px;
  }
  .latestBlogsContainer {
    width: 80%;
    margin: auto;
    border-top: 1px solid #c5c5c5;
    padding: 90px 0 0;
  }
  .latestBlogTitle {
    width: 95%;
    margin-left: auto;
  }
  .sortedBlogs {
    width: 92%;
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media screen and (max-width: 1120px) {
  .blogPostRoot {
    .postContainer {
      width: 70%;
    }
  }
}
@media screen and (max-width: 860px) {
  .blogPostRoot {
    .postTitle {
      font-size: 50px;
      line-height: 60px;
    }
    .sortedBlogs {
      gap: 30px;
    }
  }
}
@media screen and (max-width: 720px) {
  .blogPostRoot {
    .postRoot {
      gap: 50px;
    }
    .postContainer {
      width: 80%;
    }
  }
}
@media screen and (max-width: 575px) {
  .blogPostRoot {
    .postTitle {
      font-size: 35px;
      line-height: 45px;
    }
    .postDate {
      font-size: 14px;
      line-height: 20px;
    }
    .postImage {
      margin-top: -180px;
    }
  }
}
@media screen and (max-width: 500px) {
  .blogPostRoot {
    .postTitle {
      font-size: 25px;
      line-height: 35px;
    }
  }
}
