.blogPostContainer {
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 5%);
  z-index: 1;
  width: inherit;
  cursor: pointer;
  .blogPostContent {
    padding: 25px;
  }
  .postInfo {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-family: "IBM Plex Mono", monospace;
    color: #000000;
    font-weight: 400;
  }
  .postTitle {
    font-size: 24px;
    line-height: 36px;
    font-weight: 800;
    color: #000000;
  }
  .postSummary {
    color: #999999;
  }
  .blogImage {
    width: -webkit-fill-available;
    display: flex;
  }
}
