.buttonContainer {
  height: 100%;
  width: max-content;
  .button {
    background-color: #5ab963;
    width: max-content;
    height: 60px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    transition: background-color 200ms ease;
    &:hover {
      background-color: #48944f;
    }
  }
}
