.blogRoot {
  .blogsContainer {
    margin: -90px auto 30px;
    width: 90%;
    display: grid;
    justify-items: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    z-index: 1;
  }
  .link {
    display: inline-block;
  }
}
