.premiumBox {
  width: 90%;
  margin: auto;
  .premiumDeal {
    display: flex;
    width: 80%;
  }
  .premiumSubText {
    font-family: "IBM Plex Mono", monospace;
    color: #999999;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}
