.formInput {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .inputLabel {
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .inputBox {
    border: 2px solid #ffffff;
    height: 55px;
    padding: 5px 10px;
    outline: none;
    border-radius: 10px;
    width: 95%;
  }
}
