.featuresContainer {
  padding: 120px 30px;
  width: 85%;
  margin: auto;
  .featuresHeader {
    width: 50%;
  }
  .featureTitle {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #b3b3b3;
  }
  .featureHighlight {
    font-weight: 800;
    color: #000000;
    margin-right: 5px;
  }
}
