.aboutSection {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  .aboutInfo {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: auto;
    width: 95%;
    text-align: -webkit-center;
    flex-direction: column;
    padding: 50px 10px;
  }
  .dotContainer {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 5px;
    justify-content: center;
    right: 0;
    left: 0;
  }
  .imageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
  }
  .sliderDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }
  .activeDot {
    background-color: #ffffff;
  }
  .aboutUs {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #3cb371;
    text-transform: uppercase;
  }
}
