.aboutSection {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.aboutInfo {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  text-align: -webkit-center;
}
