.missionRoot {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  .border {
    width: 100%;
    border-bottom: 1px solid #b3b3b3;
  }
  .companyMissions {
    display: grid;
    gap: 30px;
    margin-bottom: 60px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .missionText {
    font-size: 26px;
    line-height: 38px;
    margin: 0;
    font-weight: 800;
    color: #000000;
  }
  .missionKey {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: 600;
  }
  .missionContent {
    font-size: 16px;
    line-height: 26px;
    color: #999999;
    font-weight: 400;
    font-family: "IBM Plex Mono", monospace;
  }
}
